@import "~webviz-core/src/styles/mixins.module.scss";
@import "~webviz-core/src/styles/colors.module.scss";

.container {
  position: relative;
  flex: 1 1 auto;
  display: flex;

  &.open {
    @extend %floating-box;
  }
}

.select {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  background-color: $DARK4;
  height: auto;
  min-height: 26px;
  border: none;
  padding: $control-padding;
  cursor: pointer;
  color: $textNormal;
  border-radius: 4px;

  &.fromBelow {
    border-radius: 0;
  }

  .value {
    @include sans-serif;
    flex: 1 1 auto;
  }

  &.open {
    @extend %floating-box;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: $control-padding;
    padding-right: 20px;
    color: $textControl;
  }

  .icon {
    font-size: 14px;
  }
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.menu {
  @extend %floating-box;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 999999999;
}
