@import "~webviz-core/src/styles/colors.module.scss";
@import "~webviz-core/src/styles/mixins.module.scss";

.filesModal {
  background-color: $panel-background;
  width: 25%;
  min-width: 250px;
  max-width: 280px;
  overflow: hidden;
}

.highlight {
  color: $highlight;
}
